/* work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.text-light-gray{
    color: gray;
}
.btn-primary{
    border-radius: 8px;
    color: aquamarine;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: orangered;
    padding: 20px 25px;
    border: 0;
    
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
nav > ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700px;
    color: #0b0a0a;
}

.banner-description{
    color: rgb(40, 35, 35);
}

.banner img{
    margin-top: 20px;
    width: 100%;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* team's style */
.team-container{
    display: flex;
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-content{
    padding-right: 70px;
    padding-left: 70px;
}
.team-title{
    font-size: 2.8rem;
}
.team-title .quick-list{
    color:rgb(137, 87, 87);
    font-weight: 500;
}
.team-title .text-features{
    color: orangered;
    font-weight: 700;
}
/* feature section styles */
.features{
    margin-top: 130px;
    display: flex;
    gap: 100px;
}

.features .section-title{
    border-left: 5px solid orangered;
    padding-left: 20px;
}
.feature-content .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba;
}

.feature-img img{
    height: 90%;
    margin-left: 90px;

}

.ten-years-badge{
    border-radius: 8px;
    background: orangered;
    color: wheat;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years-badge h2{
    font-size: 4rem;
    margin: 0;
}
.ten-years-badge h2{
    font-size: 4rem;
    margin: 0;
}
.ten-years-badge p{
font-size: 1.5rem;
}
/* facts styles */
.facts-card-container{
    display: flex;
    justify-content: space-around;

}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid orangered;
    text-align: center;
    padding:   30px;
}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sponsors styles */
.sponsors{
    text-align: center;
}

.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}

.sponsors-img-container img{
    width: 165px;

}

/*responsive media queires  */
/* for mobile devices */
@media screen and (max-width:576px) {
    header{
        padding: 50px;
    }
    nav,
    .team-container,
    .features,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }
}
.feature-img img{
    width: 100%;
    margin-left: 0;
}

.ten-years-badge{
    position: static;
    max-width: 300px;
}

.teams-img-container{
    grid-template-columns: 1fr;
}
.team-content, .facts-card-container{
    padding-left: 20px;
    padding-right: 20px;
}
.facts-card-container{
    gap: 20px;
}
/* for medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav,
    .features,
    .team-container,
    .sponsors-img-container {
        flex-direction: column;
    }
}
